.details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  .top {
    flex: .4;
    border-bottom: 2px solid red;
  }

  .bttom {
    flex: .6;
  }
}