

// Mixins: Media Query

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@mixin device-desktop() {
  @media (min-width: 1281px) {
    @content;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@mixin device-laptop-desktop() {
  @media (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@mixin device-portrait-tablet-ipad() {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@mixin device-landscape-tablet-ipad() {
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@mixin device-landscape-lowres-tablet-mobile() {
  @media (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@mixin device-portrait-smartphone() {
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

/* 
  ##Device = All (Landscape)
  ##Screen = Any
*/
@mixin device-orientation-landscape() {
  @media (orientation: landscape) {
    @content;
  }
}