/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/* 
  ##Device = All (Landscape)
  ##Screen = Any
*/
@media (min-width: 1281px) {
  .responsive.clear {
    background-image: url(./clear/1400.jpg); } }

@media (min-width: 1025px) and (max-width: 1280px) {
  .responsive.clear {
    background-image: url(./clear/1227.jpg); } }

@media (min-width: 768px) and (max-width: 1024px) {
  .responsive.clear {
    background-image: url(./clear/996.jpg); } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .responsive.clear {
    background-image: url(./clear/996.jpg); } }

@media (min-width: 481px) and (max-width: 767px) {
  .responsive.clear {
    background-image: url(./clear/664.jpg); } }

@media (min-width: 320px) and (max-width: 480px) {
  .responsive.clear {
    background-image: url(./clear/664.jpg); } }

@media (min-width: 1281px) {
  .responsive.clouds {
    background-image: url(./clouds/1400.jpg); } }

@media (min-width: 1025px) and (max-width: 1280px) {
  .responsive.clouds {
    background-image: url(./clouds/1235.jpg); } }

@media (min-width: 768px) and (max-width: 1024px) {
  .responsive.clouds {
    background-image: url(./clouds/1073.jpg); } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .responsive.clouds {
    background-image: url(./clouds/1073.jpg); } }

@media (min-width: 481px) and (max-width: 767px) {
  .responsive.clouds {
    background-image: url(./clouds/708.jpg); } }

@media (min-width: 320px) and (max-width: 480px) {
  .responsive.clouds {
    background-image: url(./clouds/708.jpg); } }

@media (min-width: 1281px) {
  .responsive.drizzle {
    background-image: url(./drizzle/1400.jpg); } }

@media (min-width: 1025px) and (max-width: 1280px) {
  .responsive.drizzle {
    background-image: url(./drizzle/1315.jpg); } }

@media (min-width: 768px) and (max-width: 1024px) {
  .responsive.drizzle {
    background-image: url(./drizzle/1115.jpg); } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .responsive.drizzle {
    background-image: url(./drizzle/966.jpg); } }

@media (min-width: 481px) and (max-width: 767px) {
  .responsive.drizzle {
    background-image: url(./drizzle/798.jpg); } }

@media (min-width: 320px) and (max-width: 480px) {
  .responsive.drizzle {
    background-image: url(./drizzle/798.jpg); } }
