@import "styles/_mixins.scss";

.responsive {
  &.clear {
    @include device-desktop() {
      background-image: url(./clear/1400.jpg);
    }
    @include device-laptop-desktop() {
      background-image: url(./clear/1227.jpg);
    }
    @include device-portrait-tablet-ipad() {
      background-image: url(./clear/996.jpg);
    }
    @include device-landscape-tablet-ipad() {
      background-image: url(./clear/996.jpg);
    }
    @include device-landscape-lowres-tablet-mobile() {
      background-image: url(./clear/664.jpg);
    }
    @include device-portrait-smartphone() {
      background-image: url(./clear/664.jpg);
    }
  }

  &.clouds {
    @include device-desktop() {
      background-image: url(./clouds/1400.jpg);
    }
    @include device-laptop-desktop() {
      background-image: url(./clouds/1235.jpg);
    }
    @include device-portrait-tablet-ipad() {
      background-image: url(./clouds/1073.jpg);
    }
    @include device-landscape-tablet-ipad() {
      background-image: url(./clouds/1073.jpg);
    }
    @include device-landscape-lowres-tablet-mobile() {
      background-image: url(./clouds/708.jpg);
    }
    @include device-portrait-smartphone() {
      background-image: url(./clouds/708.jpg);
    }
  }

  &.drizzle {
    @include device-desktop() {
      background-image: url(./drizzle/1400.jpg);
    }
    @include device-laptop-desktop() {
      background-image: url(./drizzle/1315.jpg);
    }
    @include device-portrait-tablet-ipad() {
      background-image: url(./drizzle/1115.jpg);
    }
    @include device-landscape-tablet-ipad() {
      background-image: url(./drizzle/966.jpg);
    }
    @include device-landscape-lowres-tablet-mobile() {
      background-image: url(./drizzle/798.jpg);
    }
    @include device-portrait-smartphone() {
      background-image: url(./drizzle/798.jpg);
    }
  }
}