.background {
  $blur: 5px;
  $margin: 0;//-$blur - 10px;
  //filter: blur($blur);
  position: fixed;
  z-index: -1;
  background-size: cover;
  top: $margin;
  right: $margin;
  bottom: $margin;
  left: $margin;
}